body{
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form{
    border: 2px solid #e7e003;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 570px;
    padding: 20px;
    color: #e7e003;
    font-size: 20px;
}

select{
    background: #333;
    color: #e7e003;
    font-size: 18px;
    margin: 5px 0px;
    padding: 5px;
}

input{
    background: #333;
    color: #e7e003; 
    font-size: 20px;
}

textarea{
    resize: none;
    background: #333;
    color: #e7e003;
}

.btn-new-Match{
    background: none;
    border: 2px solid #e7e003;
    color: #e7e003;
    font-size: 20px;
    margin-top: 5px;
    transition: all 0.3s ease 0s;
}

.btn-new-Match:hover{
    background: #e7e003;
    border: 2px solid #333;
    color: #333;
    transition: all 0.6s ease 0s;
}


.silka-home a{
    display: flex;
    justify-content: center;
    color: #e7e003;
    transition: all 0.3s ease 0s;
    margin-bottom: 5px;
}

.silka-home a:hover{
    color: #fff;
    transition: all 0.5s ease 0s;
}

.msg{
    border: 2px solid #e9380b;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.non{
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.error_{
    border-bottom: 2px solid #e9380b;
}