body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #333;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .list {
    padding: 1rem;
  }
  .button-turn{
    background-color: #333;
    border-radius: 10px;
    color: #e7e003;
    border: 1px solid #e7e003;
    height: 25px;
    width: 80px;
  }
  nav a {
    color: #333;
    text-decoration: none;
    margin-right: 1rem;
  }
 
  .sport {
    border: 1px solid #000000;
    margin-bottom: 2px;
    padding: 2px;
    width: 110px;
    border-radius: 10px;
  }
  footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
  }
 
  .reg {
    display: flex;
    align-items: center;
  }
  .cta {
    background-color: transparent;
    color: #e7e003;
    border: 2px solid #e7e003;
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  .cta:hover {
    background-color: #f2f2f2;
  }

  input[type="search"] {
    width: 250px;
    height: 20px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #e7e003;
    border-radius: 10px;
    outline: none;
    margin-right: 200px;
  }

  .ad {
    float: left;
    width: 200px;
    background-color: #ddd;
    padding: 20px;
    border-radius: 5px;
    margin-right: 20px;
  }

  

  .for, .adc, .y{
    display: flex;
    align-items: center;
    
  }

  .form-half {
    flex: 1 1 45%;
 
    box-sizing: border-box;
  }
  
  h2{
    color: #e7e003;
  }
  .right, .ad, .test {
    float: right;
  }
  
  .ad{
    width: 85%
  }

  .test{
    border: 2px solid #000000; 
    height: auto;
    width: 100%;
  }
  .y {
    margin: 10px 10px 10px 10;
    position: 10px;
  }

  .hidden, .regi {
    display: none;
  }

  .right2 {
    float: right;
  }
  .hidden2 {
    display: none;
  }

  .form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 50%;
  }
  
  #formContainer, .register {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
  #formContainer1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
  
  #formContainer form {
    background-color: #333;
    position: absolute;
    top: 45%; 
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    max-width: 600px;
    box-sizing: border-box;
  }

  #register form {
    background-color: #333;
    position: absolute;
    top: 45%; 
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    max-width: 600px;
    box-sizing: border-box;
  }


  #formContainer1 form {
    background-color: #333;
    position: absolute;
    top: 45%; 
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    max-width: 600px;
    box-sizing: border-box;
  }
  #hideFormButton, .closeRegister{
    background-color: #333;
    border-radius: 10px;
    border: 1px solid #e7e003 ;
    color: #e7e003;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .button-group {
    margin: 10px 0;
    width: 200px;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .button-group button {
    margin: 10px;
    border-radius: 10px;
  }
 
  .submit-button-right{
    margin:0px 0px 0px 80px;
  }
  .submit-button-right1{
    border-radius: 10px;
    border: 1px solid #e7e003 ;
    color: #e7e003;
    background-color: #333;
  }
  .col{
    border: 1px solid #e7e003 ;
    color: #e7e003;
    background-color: #333;
  }


  .tab {
    display: none;
  }
  
  .tab:first-child {
    display: block;
  }


  .block-match{
    padding: 10px;
    margin: 50px;
    border: 1px solid #ddd;
    color: #f2f2f2;
  }
