.loginPanel{
    position: absolute;
    top:10px;
    right:10px;
}

/* registration */
#registrationFormDiv {
    width: 300px; /* Ширина формы */
    margin: 0 auto; /* Центрирование формы по горизонтали */
    padding: 20px; /* Отступы вокруг формы */
    border: 1px solid #ccc; /* Граница формы */
    border-radius: 5px; /* Закругленные углы */
}

#registrationForm label {
    display: block; /* Размещаем метки на новой строке */
    margin-bottom: 5px; /* Отступ между метками */
}

#registrationForm input[type="text"],
#registrationForm input[type="email"],
#registrationForm input[type="password"] {
    width: 95%; /* Растягиваем поля ввода на всю ширину формы */
    margin-bottom: 10px; /* Отступ между полями ввода */
    padding: 8px; /* Поля ввода */
    border: 1px solid #ccc; /* Граница полей ввода */
    border-radius: 3px; /* Закругленные углы полей ввода */
}

#registrationForm input[type="checkbox"] {
    margin-right: 5px; /* Отступ между чекбоксом и текстом */
}

#registrationForm input[type="submit"] {
    width: 100%; /* Растягиваем кнопку на всю ширину формы */
    padding: 10px; /* Поля кнопки */
    background-color: #4CAF50; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убираем границу кнопки */
    border-radius: 3px; /* Закругленные углы кнопки */
    cursor: pointer; /* Задаем курсор указывающий на кнопку */
}

#errorMessage {
    margin-top: 10px; /* Отступ сверху от сообщения об ошибке */
    color: red; /* Цвет текста ошибки */
}


/* login */
#loginForm {
    width: 300px; /* Ширина формы */
    margin: 0 auto; /* Центрирование формы по горизонтали */
    padding: 20px; /* Отступы вокруг формы */
    border: 1px solid #ccc; /* Граница формы */
    border-radius: 5px; /* Закругленные углы */
}

#loginForm label {
    display: block; /* Размещаем метки на новой строке */
    margin-bottom: 5px; /* Отступ между метками */
}

#loginForm input[type="text"],
#loginForm input[type="email"],
#loginForm input[type="password"] {
    width: 95%; /* Растягиваем поля ввода на всю ширину формы */
    margin-bottom: 10px; /* Отступ между полями ввода */
    padding: 8px; /* Поля ввода */
    border: 1px solid #ccc; /* Граница полей ввода */
    border-radius: 3px; /* Закругленные углы полей ввода */
}

#loginForm input[type="submit"] {
    width: 100%; /* Растягиваем кнопку на всю ширину формы */
    padding: 10px; /* Поля кнопки */
    background-color: #4CAF50; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убираем границу кнопки */
    border-radius: 3px; /* Закругленные углы кнопки */
    cursor: pointer; /* Задаем курсор указывающий на кнопку */
    margin-top: 10px;
}